<!DOCTYPE html>
<html>
  <head>
    <title>Movie Buff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <header>
    <nav>
      <%= link_to image_tag("logo"), movies_path %>
      <ul>
        <%= link_to "All Movies", movies_path %>
      </ul>
    </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>
        Copyright &copy; 2005-<%= Time.now.year %>
        <%= link_to "Shawn Hu", "https://www.linkedin.com/in/shawn-hu/" %>
      </p>
    </footer>
  </body>
</html>
